/* Spinner styles */
.loader {
    border-top-color: #3498db;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
<<<<<<< HEAD
}

/* NavBars de google translate */
#btr {
    display: flex;
    height: 2.85em;
    border-radius: 5px;
    justify-content: 'center';
    background-color: brown;

}

#btr .goog-te-combo {
    padding: 0.7em;
    cursor: pointer;
    border: 1px solid #3fdd00;
    border-radius: 5px;
    overflow: hidden;
    outline: none;
    width: 8em;
    overflow: hidden !important;
}

@media screen and (max-width:315px) {
    #btr .goog-te-combo {
        padding: 0.5em;
        width: 5em;
        overflow: hidden !important;
    }
=======
>>>>>>> 183cd9f74c1f0208e0db6d8d08734a8984f0793d
}