{% extends 'admin_base.html' %}
{% load static %}

{% block title %}Admin Dashboard - TEREZIYA Polyclinic{% endblock %}

{% block content %}
<div class="max-w-7xl mx-auto p-3">
    <!-- Dashboard Title -->
    <div class="bg-green-600 rounded shadow-lg p-2 flex flex-col items-center justify-center text-center mb-4">
        <h2 class="text-2xl font-bold text-white text-center uppercase">Admin Dashboard</h2>
    </div>

    <!-- Dashboard Overview -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 mb-3">
        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h2 class="text-xl font-semibold text-gray-700">Doctors</h2>
            <p class="text-lg text-gray-700">The number of registered doctors is <span class="text-lg font-bold text-blue-600">{{ doctors }}</span></p>
            <div class="flex flex-wrap justify-end items-center">
                <a href="{% url 'doctor_list' 1 %}" 
                class="inline-block m-1 px-4 py-2 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-600 transition">
                    View All Doctors
                </a>
            </div>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h2 class="text-xl font-semibold text-gray-700">Total Appointments</h2>
            <p class="text-lg text-gray-700">Number of all appointments is <span class="text-lg font-bold text-blue-600">{{ total_appointments }}</span></p>
            <div class="flex flex-wrap justify-end items-center">
                <a href="{% url 'clinic_appointments' 1 %}" 
                class="inline-block m-1 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition">
                    View All Appointments
                </a>
            </div>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h2 class="text-xl font-semibold text-gray-700">Pending Appointments</h2>
            <p class="text-lg text-gray-700">The number of appointments awaiting to be approved is <span class="text-lg font-bold text-orange-600">{{ pending_appointments }}</span></p>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h2 class="text-xl font-semibold text-gray-700">Cancelled Appointments</h2>
            <p class="text-lg text-gray-700">The number of cancelled appointments is <span class="text-lg font-bold text-red-600">{{ cancelled_appointments }}</span></p>
        </div>
        
        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h2 class="text-xl font-semibold text-gray-700">Confirmed Appointments</h2>
            <p class="text-lg text-gray-700">The number of confirmed appointments is <span class="text-lg font-bold text-green-600">{{ confirmed_appointments }}</span></p>
        </div>

        <div class="bg-gray-100 p-4 rounded-lg shadow">
            <h2 class="text-xl font-semibold text-gray-700">Total Messages</h2>
            <p class="text-lg text-gray-700">Number of all the messages is <span class="text-lg font-bold text-blue-600">{{ total_messages }}</span></p>
            <div class="flex flex-wrap justify-end items-center">
                <a href="{% url 'contact_list' %}" 
                class="inline-block m-1 px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition">
                    View All Messages
                </a>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block footer %}
{% include "admin_footer.html" %}
{% endblock %}